{%extends 'nav.html'%}
{%block title%} About {%endblock title%}
{%block body%}

<div class="container my-1">
  <h2 class="my-4 text-center">About Us</h2>

    <p class="py-2" style="text-size:18px">When you have a great story about how your product or service was built to change lives, share it. The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect with them and pass them on.

Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and their families. The company breaks down different pieces of the story into sections that combine words and easily digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different: "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a handout."

Every company has a story to tell, so break out your storytelling skills from that random English class you took years ago and put them to work on your "About Us" page. Using descriptive and emotive copy and gorgeous graphics, an "About Us" page with a story works harder for your business than a generic one.</p>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                     src="/static/img/nike.jpeg" data-holder-rendered="true">
                <div class="card-body">
                  <h4 class="text-center" style="text-transform: uppercase; ">Nike India</h4>
                  <p class="card-text">Nike, Inc. is an American multinational corporation that is engaged in the design, development, manufacturing worldwide</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="  btn btn-outline-warning"><a href="https://www.nike.com/in/?cp=76060516106_aff_|dpXSVuxM3pU|&ranMID=41134&ranEAID=dpXSVuxM3pU&ranSiteID=dpXSVuxM3pU-fI273hB2Lw29BE89cF3vFg" style="text-decoration:none">Contact</a></button>
                    </div>
                    <small class="text-muted"> 23432</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
                     src="/static/img/amazon.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <h4 class="text-center" style="text-transform: uppercase; ">amazon india</h4>
                  <p class="card-text"> Amazon.com, Inc. is an American multinational conglomerate which focuses on e-commerce, cloud computing.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                      <button type="button" class="  btn btn-outline-warning"><a href="https://www.amazon.in/?&ext_vrnc=hi&tag=googhydrabk1-21&ref=pd_sl_5szpgfto9i_e&adgrpid=58075519359&hvpone=&hvptwo=&hvadid=486462756374&hvpos=&hvnetw=g&hvrand=3772004364399273638&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1007792&hvtargid=kwd-64107830&hydadcr=14452_2154371" style="text-decoration:none">Contact</a></button>
                    </div>
                    <small class="text-muted">78648</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
                     src="static/img/beach3.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <h4 class="text-center" style="text-transform: uppercase; ">Flipkart</h4>
                  <p class="card-text"> Flipkart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India as a private company.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="  btn btn-outline-warning"><a href="https://www.flipkart.com/" style="text-decoration:none">Contact</a></button>
                    </div>
                    <small class="text-muted">87946</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



{%endblock body%}

